body {
    background-image: url('HeaderBackground1.png');
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

header {
    display: grid;
    grid-template-rows: auto;
    width: 100%; 
    height: 100px;
    background-color: rgb(70, 131, 70);
    background-size: cover;
    color: rgb(28, 52, 28);
    background-image: url('BackgroundTrees3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Name {
    float: left;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    color: #e8f3e8;
    margin-top: 1.5%;
}

.dropdown-nav {
    background-color: rgb(72, 144, 72);
    color: #e8f3e8;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    float: right;
    margin-right: 2%; 
    margin-top: 1%;
    height: 50px;
    width: 380px;
    font-size: 24px;
    cursor: pointer;
}

article {
    display: grid; 
    grid-template-rows:auto;
    justify-items: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}
.grid div {
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    transition: transform 0.3s ease;
    width: auto; 
    margin: 0 10% 10% 10%;
    font-size:32pt;
    clear: both;
    background-color: rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(3px) saturate(100%);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.grid div:hover {
    transform: scale(1.05);
    background: #d9ecd9;
    box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

.NameTO {
    padding-left: 10%;
    width: 100%;
    float: left;
    font-size:37pt;
    height:10px;
    padding: none;
    font-weight: bold;
    color:rgb(28, 52, 28);
}
