body {
    background-image: url('HeaderBackground1.png');
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

header {
    display: grid;
    grid-template-rows: auto;
    width:100%; 
    height:100px;
    background-color: rgb(70, 131, 70);
    background-size: cover;
    color: rgb(28, 52, 28);
    background-image: url('BackgroundTrees3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.Name {
    float: left;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:1%;
    color: #e8f3e8;
    margin-top:1.5%;
}

.dropdown-nav {
    background-color: rgb(72, 144, 72);
    color: #e8f3e8;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    float: right;
    margin-right: 2%; 
    margin-top: 1%;
    height: 50px;
    width: 380px;
    font-size: 24px;
    cursor: pointer;
}
.container {
    width: 300px;
    background-color: #e8f3e8;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto;
}

.bar {
    width: 0%;
    height: 20px;
    background-color: green;
    transition: width 0.4s ease;
}

.number {
    text-align: center;
    font-size: 32px;
    color:rgb(28, 52, 28);
}

.points {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
} 

.HeaderPoints {
    margin: 0px; 
    padding: 0px;  
    font-size:44pt;
    color:rgb(28, 52, 28);
}

.HeaderParagraph {
    margin: 0px; 
    padding: 0px;  
    color:rgb(28, 52, 28);
}



