body {
    background-image: url('HeaderBackground1.png');
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

header {
    display: grid;
    grid-template-rows: auto;
    width: 100%; 
    height: 500px;
    background-color: rgb(70, 131, 70);
    background-size: cover;
    color: rgb(28, 52, 28);
    background-image: url('BackgroundTrees3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Name {
    float: left;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    color: #e8f3e8;
    margin-top: 1.5%;
}
.dropdown-nav {
    background-color: rgb(72, 144, 72);
    color: #e8f3e8;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    float: right;
    margin-right: 2%; 
    margin-top: 1%;
    height: 50px;
    width: 380px;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.NameSection {
    width: 100%; 
    height: 90px;
    position: sticky;
}

.HeaderDescription {
    align-self: center;
    justify-self: center;
    clear: both; 
    font-size: 24px;
    width: 550px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(244, 255, 244, 0.4);
    backdrop-filter: blur(3px) saturate(100%);
    border-radius: 14px;
    padding: 0 50px 40px 50px;
}

.MenuGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 60px auto;
    max-width: 1200px;
    padding: 20px;
}
.MenuButton {
    text-decoration: none;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(3px) saturate(100%);
    border-radius: 14px;
}
.MenuButton div {
    text-decoration: none;
    color: inherit;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.25s ease;
}
.MenuButton div:hover {
    transform: scale(1.05);
    background: #d9ecd9;
    box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

/* Titles */
.TradeOffer,
.GreenPoint,
.TasksAndGreenTask {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* Paragraphs */
.ParagraphTO,
.ParagraphGP,
.ParagraphTAGT {
    font-size: 16px;
    line-height: 1.5;
}



