body {
      background-color: #e8f3e8;
}

header {
    display: grid;
    grid-template-rows: auto;
    width:100%; 
    height:100px;
    background-color: rgb(70, 131, 70);
    background-size: cover;
    color: rgb(28, 52, 28);
     background-image: url('BackgroundTrees3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
    background-size: cover;
}

.Name {
    float: left;
    font-size:36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:1%;
    color: white;
    padding: none;
    margin-top:1.5%;
    
      


}
.dropdown-nav {
    background-color: rgb(72, 144, 72);
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    float: right;
    margin-right: 2%; 
    margin-top: 1%;
    height: 50px;
    width: 380px;
    font-size: 24px;
    cursor: pointer;
  }

.Menu {
    float: right; 
    font-size: 32px;
    color: white;
}
.NameSection {
    width: 100%; 
    height:90px;
    background-image: url('BackgroundTrees3.jpg');
      background-repeat: no-repeat;
       background-attachment: fixed;
  background-size: cover;
  
}

.HeaderTitle {
float: left;
clear: both;
font-size:64px;
margin-left:41%;
}

.HeaderDescription {
    clear: both; 
    margin-left:25%;
    width:850px;
    text-align: center;
    
}

.TradeOfferSection {
    clear: left;
    float: left; 
    width:400px;
    margin-left: 12%;
    height:200px;
    margin-top:7%;
    
}
.TradeOffer {
    font-size:32px;
    float: left;
    margin-left:28%;
   
}
.ParagraphTO {
    float: left;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.TasksAndGreenTaskSection {
    clear: both;
    float: left; 
    width:400px;
    margin-left: 38%;
    height:200px;
    margin-top:0px;
  
    
}
.TasksAndGreenTask {
  font-size:32px;
    float: left;
    margin-left:18%;
    text-align: center;
   
}
.ParagraphTAGT {
    float: right;
    text-align: center;
    margin: 0px;
    padding: 0px;
   } 
.GreenPointSection {
    clear: right;
    float: left; 
    width:400px;
    margin-left: 4%;
    height:200px;
    margin-top:7%;
     float: right;
     margin-right:12%;
}
.GreenPoint {
 font-size:32px;
    float: right;
    margin-right:28%;
    
   
}
.ParagraphGP {
    float: right;
    text-align: center;
    margin: 0px;
    padding: 0px;
    clear: both;
} 

@media (max-width: 768px) {
    .HeaderDescription {
        display: grid;
        width: auto;
    }
    .dropdown-nav {
        width: 100px;
    }
    .MenuGrid {
        display: grid;
        grid-template-columns: auto;
    }
}
@media (max-width: 375px) {
    .HeaderDescription {
        display: grid;
        width: auto;
    }
    .dropdown-nav {
        width: 100px;
    }
    .MenuGrid {
        display: grid;
        grid-template-columns: auto;
    }
}