body {
      background-color: #e8f3e8;
}

header {
    display: grid;
    grid-template-rows: auto;
    width:100%; 
    height:100px;
    background-color: rgb(70, 131, 70);
    background-size: cover;
    color: rgb(28, 52, 28);
     background-image: url('BackgroundTrees3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
    background-size: cover;
}

.Name {
    float: left;
    font-size:36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:1%;
    color: white;
    padding: none;
    margin-top:1.5%;
    
}
 .dropdown-nav {
    background-color: rgb(72, 144, 72);
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    float: right;
    margin-right: 2%; 
    margin-top: 1%;
    height: 50px;
    width: 380px;
    font-size: 24px;
    cursor: pointer;
  }

.Menu {
    float: right; 
    font-size: 32px;
    color: white;
}
.NameSection {
    width: 100%; 
    height:90px;
    background-image: url('BackgroundTrees3.jpg');
      background-repeat: no-repeat;
       background-attachment: fixed;
  background-size: cover;
  
}

.HeaderTitle {
float: left;
clear: both;
font-size:64px;
margin-left:41%;
}

.HeaderDescription {
    clear: both; 
    margin-left:25%;
    width:850px;
    text-align: center;
    
}
   .container {
  width: 300px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
    margin : 20px auto;
}
.bar {
  height: 20px;
  background-color: #4caf50;
}


.bar {
  width: 0%;
  height: 20px;
  background-color: green;
  transition: width 0.4s ease;
}
.number{
    text-align: center;
    font-size: 32px;
    color:rgb(28, 52, 28);
}
.points{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;

} 
@media (max-width: 768px) {
    .body {
        display: grid;
        width: auto;
    }
    .dropdown-nav {
        width: 100px;
    }
    .MenuGrid {
        display: grid;
        grid-template-columns: auto;
    }
}
@media (max-width: 375px) {
    .body {
        display: grid;
        width: auto;
    }
    .dropdown-nav {
        width: 100px;
    }
    .MenuGrid {
        display: grid;
        grid-template-columns: auto;
    }
}
article {
    background-image: url('HeaderBackground1.png');
    height: 1000px;
    background-repeat: no-repeat;
       background-attachment: fixed;
  background-size: cover;
 
}
.HeaderPoints {
    margin: 0px; 
    padding: 0px;  
    font-size:44pt;
    color:rgb(28, 52, 28);
    
}
.HeaderParagraph {
    margin: 0px; 
    padding: 0px;  
    color:rgb(28, 52, 28);
    
}

